{% extends "medico/base_medico.html" %}

{% block title %}Gestión de citas{% endblock title %}

{% block content %}
<div class="col-10 offset-md-1">
    <h1 class="mb-4">Gestión de citas médicas</h1>
    
    <form method="POST">
        {% csrf_token %}

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="id_fecha_cita" class="form-label">Fecha de la cita</label>
                {{ form.fecha_cita }}
            </div>
            <div class="col-md-6">
                <label for="id_hora_cita" class="form-label">Hora de la cita</label>
                {{ form.hora_cita }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="id_medico" class="form-label">Médico</label>
                {{ form.medico }}
            </div>
            <div class="col-md-6">
                <label for="id_especialidad" class="form-label">Especialidad</label>
                {{ form.especialidad }}
            </div>
        </div>

        <div class="mb-3">
            <label for="id_paciente" class="form-label">Paciente</label>
            {{ form.paciente }}
        </div>

        <div class="mb-3">
            <label for="id_descripcion" class="form-label">Descripción</label>
            <textarea name="descripcion" class="form-control" id="id_descripcion" rows="3" cols="20" placeholder="Escribe una breve descripción..."></textarea>
        </div>
        <div class="mb-3">
            <label for="id_estado_covid" class="form-label">¿Tiene COVID?</label>
            <select name="estado_covid" class="form-control" id="id_estado_covid">
                <option value="S">Presenta síntomas</option>
                <option value="N">No presenta síntomas</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="id_atendida" class="form-label">¿Cita atendida?</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="id_atendida" name="atendida">
                <label class="form-check-label" for="id_atendida">
                    Marcar si la cita fue atendida
                </label>
            </div>
        </div>
                

        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        <a href="{% url 'lista_cita' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Lógica de AJAX para especialidad y fecha
        document.getElementById('id_especialidad').addEventListener('change', function() {
            var especialidad = this.value;
            var fecha = document.getElementById('id_fecha_cita').value;

            fetch(`../calendarioDisponibilidad/filtro_especialidad?especialidad=${especialidad}&fecha=${fecha}`)
                .then(response => response.json())
                .then(data => {
                    var medicoSelect = document.getElementById('id_medico');
                    medicoSelect.innerHTML = '';
                    data.medicos.forEach(function(medico) {
                        var option = new Option(medico.nombre, medico.id);
                        medicoSelect.add(option);
                    });
                });
        });

        document.getElementById('id_fecha_cita').addEventListener('change', function() {
            var especialidad = document.getElementById('id_especialidad').value;
            var fecha = this.value;

            fetch(`../calendarioDisponibilidad/filtro_especialidad?especialidad=${especialidad}&fecha=${fecha}`)
                .then(response => response.json())
                .then(data => {
                    var medicoSelect = document.getElementById('id_medico');
                    medicoSelect.innerHTML = '';
                    data.medicos.forEach(function(medico) {
                        var option = new Option(medico.nombre, medico.id);
                        medicoSelect.add(option);
                    });
                });
        });
    });
</script>
{% endblock content %}
