{% extends "landing/base_admin.html" %}


{% block title %}Gestión de citas{% endblock title %}
{% block content %}

<div class="col-10 offset-md-1 row mb-4">
        <h1>Eliminar Calendario gisponibilidad</h1>
        <h3>¿Estás seguro que desea eliminar este horario? {{ calendarioDisponibilidad.fecha_disponibilidad}}</h3>
        <h4>Horario del Doctor {{ calendarioDisponibilidad.medico}}</h4>

        <form method="POST">
           {% csrf_token %}
          <button type="submit" class="btn btn-primary mt-5">Eliminar</button>
          <a href="{% url 'lista_calendarioDisponibilidad' %}" class="btn btn-secondary mt-5" >Cancelar</a>
        </form>
</div>        
{% endblock content %}
